spring:
  application:
    name: api-gateway
  config:
    import: optional:configserver:http://localhost:8888

logging:
  file:
    name: logs/api-gateway.log

management:
  endpoint:
    logfile:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health,info,logfile
